$primaryColor: #35A7ED;

.quill-better-table-wrapper {
  overflow-x: auto;
}

table {
  table-layout: fixed;
  border-collapse: collapse;

  td {
    border: 1px solid #000;
    padding: 2px 5px;
  }
}

.qlbt-operation-menu {
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  font-size: 14px;
  z-index: 100;
  overflow: hidden;

  .qlbt-operation-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: #fff;
    cursor: pointer;
    color: #595959;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: #efefef;
    }
  }
}

.qlbt-col-tool {
  position: absolute;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  z-index: 99;
  height: 16px;

  .qlbt-col-tool-cell {
    position: relative;
    background-color: #fff;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;

    &:first-child {
      border-left: 1px solid #000;
    }
  }

  .qlbt-col-tool-cell-holder {
    position: absolute;
    right: -1px;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 1px;
    background-color: transparent;
    cursor: ew-resize;

    &:hover {
      background-color: $primaryColor;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -6px;
      display: block;
      width: 8px;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -6px;
      display: block;
      width: 8px;
      height: 100%;
    }
  }
}
